{% extends 'blog/base.html' %}


{% block content %}
    <div class="registration">
        <h1 class="registration-header">Страница регистрации пользователя</h1>
        {% include 'registration/errors_msg.html' %}
        <form action="{% url 'registration' %}" method="post" class="form-registration">
            {% csrf_token %}
            {% for f in form %}
                {{ f.label_tag }}
                <div class="inp-reg-{{ f.name }} inp-reg">{{ f }}</div>
                <br>
            {% endfor %}
            <button type="submit" class="form-save btn">Зарегестрироваться</button>
        </form>
    </div>
{% endblock %}