body{
    margin: 0;
    padding: 0;
    background-color: rgb(194, 194, 194);
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(92, 92, 221);
}
a:active{
    opacity: 0.7;
}


.error{
    height: 500px;
    width: 100%;
    background: url('../img/sad-cat1.png') no-repeat center;
    background-position: 50% 100px;
}
.error-title{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 35px;
    text-align: center;
}
.error-text{
    color: white;
    font-size: 18px;
    text-align: center;
}


.container{
    margin: 0 auto;
    width: 1000px;
}
.header{
    position: relative;
    padding: 10px 0;
    background-color: rgb(250, 142, 205);
}
.header-menu{
    min-width: 180px;
    padding: 10px 20px;
    display: block;
    float: right;
    background-color: rgba(4, 15, 163, 0.473);
    border-radius: 10px;
    list-style: none;
}
.header-menu a{
    font-size: 28px;
    color: white;
}
.header-menu a:hover{
    color: rgb(250, 142, 205);
    text-decoration: underline;
}
.header-title{
    display: inline-block;
    background-color: honeydew;
    padding: 10px;
    width: 325px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}
.header-title a{
    font-size: 50px;
    font-family: 'Bonheur Royale', cursive;
}
.header-title a:hover{
    color: rgba(255, 0, 0, 0.733);
}
.create-new-post{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 300px;
    padding: 15px;
    background-color: rgba(4, 15, 163, 0.473);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
.create-new-post:hover{
    background-color: rgba(255, 0, 0, 0.733);
    box-shadow: 5px 5px 10px black;
}


.btn-back{
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    background-image: url("../img/back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    transform: rotate(180deg);
}
.btn-back:hover{
    background-color: rgba(255, 0, 0, 0.856);
}


.content{
    background-color: rgb(148, 156, 255);
}
.content-title{
    text-align: center;
    margin: 10px 0 30px;
}
.content-title h2{
    color: white;
    margin: 0;
    font-size: 38px;
    display: inline-block;
    background-color: rgba(4, 15, 163, 0.473);
    width: 400px;
    border-radius: 50px;
}
.content .container{
    padding: 20px;
}
.post{
    position: relative;
    padding: 10px 20px;
    background-color: rgba(4, 15, 163, 0.473);
    box-shadow: 5px 5px 15px black;
    border-radius: 20px;
    margin-bottom: 25px;
}
.post-title{
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}
.post-title a{
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}
.post-title a:hover{
    color: rgba(252, 17, 17, 0.733);
}
.post-text{
    font-size: 18px;
    color: white;
}

.footer{
    background-color: rgb(194, 194, 194);
    padding: 20px ;  
    min-height: 300px;  
}
.footer::after{
    content: '';
    display: table;
    clear: both;
}
.footer-addres{
    display: inline-block;
    height: 110px;
    width: 480px;
}
.footer-addres img{
    
    float: left;
    width: 80px;
    height: 110px;
}
.footer-addres .addres{
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    width: 380px;
    white-space: pre-line;
}
.footer-addres .addres a{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.footer-menu{
    margin-left: 50px;
    width: 170px;
    display: inline-block;
}
.footer-menu p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(92, 92, 221);
    font-weight: bold;
}
.footer-menu .menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu a{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(97, 3, 66);
}
.footer-menu a:hover,
.footer-addres a:hover{
    color: rgba(255, 0, 0, 0.733);
    text-decoration: underline;
}


.form-post label{
    font-size: 20px;
    color: white;
}
.form-post-title input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    
}
.form-post-text textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    height: 100px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize: none;
}
.form-post-text textarea:hover,
.form-post-title input:hover{
    box-shadow: 5px 5px 15px black;
}
.form-post-text textarea:focus,
.form-post-title input:focus{
    outline: none;
    box-shadow: 5px 5px 15px black;
}
.form-save{
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    color: rgb(92, 92, 221);
    margin-bottom: 20px;
}
.form-save:hover,
.btn-post-edit:hover{
    background-color: rgba(255, 50, 50, 0.842);
    color: white;
}
.form-save:active,
.btn-post-edit:active{
    opacity: 0.7;
}

.btn-post-edit{
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}


.cats{
    color: white;
}
.cat{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background-color: rgba(4, 15, 163, 0.473);
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: -.36em;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
}
.cat:nth-child(3n){
    margin-right: 0;
}
.cat-img{
    border-radius: 10px;
    width: 100%;
}
.cat-name{
    margin: 10px 0;
    font-size: 24px;
}
.cat-name a{
    color: white;
}
.cat-name a:hover{
    color: rgba(252, 17, 17, 0.733);
}
.cat-name a:active{
    opacity: 0,7;
}


.cat-detail{
    color: white;
    width: 100%;
}
.cat-detail .cat-img{
    width: 35%;
    margin-bottom: 10px;
}
.cat-detail .description{
    box-sizing: border-box;
    padding-right: 30px;
    float: right;
    width: 63%;
}
.cat-detail .description-title{
    font-size: 20px;
    margin: 0;
}
.cat-detail .years p{
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
}



.dog{
    position: relative;
    background-color: rgba(4, 15, 163, 0.473);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.dog::after{
    content: '';
    clear: both;
    display: table;
}
.dog-img{
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    width: 300px;
}
.dog-name a{
    font-size: 38px;
    color: white;
}
.dog-name a:hover{
    color: rgba(252, 17, 17, 0.733);
}
.dog-name a:active{
    opacity: 0,7;
}
.dog-description{
    color: white;
    font-size: 20px;
}

.dog-detail .dog-name{
    display: block;
    float: right;
    width: 60%;
    padding-right: 30px;
    color: white;
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
}
.dog-detail .dog-text{
    width: 60%;
    float: right;
    display: block;
    color: white;
    font-size: 20px;
    padding-right: 30px;
}