<hr>
<div class="comments">
    <h4 class="comments-title">Комментарии</h4>

    {% if user.is_authenticated %}
        <a href="{% url 'comment_add' post_slug=post.slug %}" class="comment-create">Добавить комментарий</a>
    {% else %}
        <a href="{% url 'login' %}" class="comment-create">Необходимо авторизироваться</a>
    {% endif %}

    
    {% for comment in comments %}
        <div class="comment">
            <p class="comment-create-date">Дата написания: {{ comment.create_date }}</p>
            {% if comment.edit_date %}
                <p class="comment-edit-date">Отредактировано: {{ comment.edit_date }}</p>
            {% endif %}
            <p class="comment-author">Автор: 
                <a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a>
            </p>
            <hr>
            <p class="comment-text">{{ comment.text }}</p>
            {% if user == comment.author %} 
                <a href="{% url 'comment_edit' post_slug=post.slug pk=comment.pk %}" class="comment-edit">Изменить</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'comment_answer' post_slug=post.slug comment_pk=comment.pk %}">Ответить</a>
            {% else %}
                <a href="{% url 'login' %}">Авторизируйтесь чтобы ответить</a>
            {% endif %}
        </div>
            {% for subcomment in comment.comments.all %}
                
                <div class="comment subcomment">
                    <p class="comment-create-date">Дата написания: {{ subcomment.create_date }}</p>
                    {% if subcomment.edit_date %}
                        <p class="comment-edit-date">Отредактировано: {{ subcomment.edit_date }}</p>
                    {% endif %}
                    <p class="comment-author">Автор: 
                        <a href="{{ comment.author.get_absolute_url }}">{{ subcomment.author }}</a>
                    </p>
                    <p class="comment-author"> Ответ на комментарий
                        <a href="">{{ comment }}</a>
                    </p>
                    <hr>
                    <p class="comment-text">{{ subcomment.text }}</p>
                    {% if user == subcomment.author %} 
                        <a href="{% url 'comment_edit' post_slug=comment.post.slug pk=subcomment.pk %}" class="comment-edit">Изменить</a>
                    {% endif %} 
                </div>
                
            {% endfor %}
    {% endfor %}
</div>