{% extends 'blog/base.html' %}


{% block content %}
<div class="post">
    {% if post.published_date %}
        <div>
            <p>Дата публикации: {{ post.published_date }}</p>
        </div>
    {% endif %}
    <p class="post-author">Автор поста: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-text">{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' post_slug=post.slug %}" class="btn btn-post-edit">Редактировать</a>
    {% endif %}
    <a href="{% url 'post_list' %}" class="btn btn-back"></a>
    <p class="post-category">Категория: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>
</div>

<div class="comments">
    <h4 class="comments-title">Комментарий</h4>
    <form action="" method="POST" class="comment-form">{% csrf_token %}
        {% for f in form %}
            <div class="{{ f.name }}">{{ f }}</div>
        {% endfor %}
        <button type="submit" class="comment-create">Добавить комментарий</button>
    </form>
</div>
{% endblock %}