{% extends 'blog/base.html' %}

{% block content %}
<div class="content-post">
    <h3 class="content-title">Редактировать пост</h3>
    <form action="" method="POST" class="form-post">{% csrf_token %}
        {% for f in form %}
            {% if f.name == 'title' %}
                <label>Название:<div class="form-post-title">{{ f }}</div></label>
            {% else %}
                <label>Текст:<div class="form-post-text">{{ f }}</div></label>
            {% endif %}
            <br>
        {% endfor %}
        <button type="submit" class="form-save btn">Сохранить</button>
    </form> 
</div>
{% endblock %}