{% extends 'blog/base.html' %}

{% block header_menu %}
    <li><a href="{% url 'cats_list' %}">Наши коты</a></li>
    <li><a href="{% url 'dogs_list' %}">Наши пёсели</a></li>
{% endblock %}

{% block content %}
<div class="post">
    {% if post.published_date %}
        <div>
            <p>Дата публикации: {{ post.published_date }}</p>
        </div>
    {% endif %}
    <p class="post-author">Автор поста: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-text">{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-post-edit">Редактировать</a>
    {% endif %}
    <a href="/" class="btn btn-back"></a>
    {% include 'blog/comments.html' %}
</div>
{% endblock %}