{% extends 'blog/base.html' %}

{% block header_menu %}
    <li><a href="{% url 'cats_list' %}">Наши коты</a></li>
    <li><a href="{% url 'dogs_list' %}">Наши пёсели</a></li>
{% endblock %}

{% block content %}
    <div class="post">
        <h3 class="post-title">Новый пост</h3>
        {% include 'registration/errors_msg.html' %}
        <form action="" method="POST" class="form-post">{% csrf_token %}
            {% include 'blog/form_post.html' %}
            <button type="submit" class="form-save btn">Сохранить</button>
            <a href="/" class="btn btn-back"></a>
        </form> 
    </div>
    
{% endblock %}